<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangquan360.smartadmin.module.robotmodelsensor.RobotModelSensorDao">

    <insert id="insertBatchRobotModelSensor">
        INSERT INTO t_tobot_model_sensor (sensor_id,model_id) VALUES
        <foreach collection="batchDTO.sensorIdList" item="item" separator=",">
            (#{item},#{batchDTO.modelId})
        </foreach>
    </insert>

    <delete id="deleteByModelId" parameterType="java.lang.Long">
        delete from t_robot_model_sensor where model_id = #{modelId}
    </delete>

</mapper>